{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>{{tittle}}</title>
  </head>
  <body>

    <div class="">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6218F5;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span ><i class="bi bi-arrow-down-up"></i></span>
          </button>
          <a class="navbar-brand" href="#"><b>SigMacro</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "index" %}">Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "about" %}">About</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
      </div>

      <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        <div class="row align-items-start navbar navbar-expand-lg">
          <div class="col-2 collapse navbar-collapse" id="bdSidebar">
            <main class="d-flex flex-nowrap">

              <div class="p-1 bg-white" style="width: 200px;">
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                      Economy & Social
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url "index" %}" class="link-dark d-inline-flex text-decoration-none rounded">GDP</a></li>
                        <li><a href="{% url "ab" %}" class="link-dark d-inline-flex text-decoration-none rounded">Population</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Energy
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url "ba" %}" class="link-dark d-inline-flex text-decoration-none rounded">Consumpution</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Oil & Gas
                    </button>
                    <div class="collapse" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url "ca" %}" class="link-dark d-inline-flex text-decoration-none rounded">Demand</a></li>
                        <li><a href="{% url "cb" %}" class="link-dark d-inline-flex text-decoration-none rounded">Production</a></li>
                        <li><a href="{% url "cc" %}" class="link-dark d-inline-flex text-decoration-none rounded">Active Rigs</a></li>
                        <li><a href="{% url "cd" %}" class="link-dark d-inline-flex text-decoration-none rounded">Prices</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-10">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>

      <!-- footer -->
      <footer>
        <!-- Copyright -->
        <div class="text-center p-3">
          <p><b>SigMacro</b></p>
          <hr class="my-4">
          <p><i class="bi bi-envelope"></i> sigitanalytics@gmail.com</p>
          <p><a href="https://www.linkedin.com/in/sigitwiendarto/"><i class="bi bi-linkedin"></i> LinkedIn</a> </p>
          <p class="text-muted">2022</p>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- end footer -->

    <script type="text/javascript" src="{% static "js/style.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
